<div id="nav">
  <!-- v1 - вариант  -->
  <!-- <span>{{ toggle ? "SHOW" : "HIDE" }}</span> -->

  <!-- v2 - вариант  -->
  <span *ngIf="toggle">
    <ul>
      <li *ngFor="let user of activeUsers" class="user-list">
        {{ user.name + ": " + user.age }}
      </li>
    </ul>
  </span>
  <span *ngIf="!toggle">
    <!-- може да рендерира нов елемент или друг компонент -->

    <!-- <div><p>Is Not Active</p></div> -->
    <app-home />
  </span>

  <!-- подаване на атрибут -->
  <input [value]="inputValue" type="text" />

  <!-- добавяне на custom атрибут -->
  <input [attr.data-attribute-name]="inputValue" type="text" />

  <!-- динамична промяна на текста на бутона -->
  <button (click)="clickThis($event)">
    Make {{ toggle ? "InActive" : "Active" }}
  </button>
</div>
