<main>
    <div style="margin: 30% auto;display:block;width:400px;">
        <h1 style="color: white;">Page not found!</h1>
        <p style="color: rgb(255, 255, 255)">Return to <a href="/" style="color: rgb(213, 212, 212)">HOME</a></p>
    </div>
</main>