<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link href="../../static/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>

        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>

        <section class="notifications error">
            <p>Message...</p>
        </section>


        <main>
            <form class="theater-form" action="" method="">
                <h1>Edit Theater</h1>
                <div>
                    <label for="title">Theater Title:</label>
                    <input type="text" placeholder="Theater name"value="">
                </div>
                <div>
                    <label for="description">Theater Description:</label>
                    <textarea placeholder="Description" ></textarea>
                </div>
                <div>
                    <label for="imageUrl">Image url:</label>
                    <input type="text" placeholder="Image Url" value="">
                </div>
                <div class="check">
                    <input type="checkbox" id="check-box" >
                    <label for="check-box">Public</label>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </main>

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

</body>

</html>