<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    
        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Logout</a></li> 
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>

        <section class="notifications error">
            <p>Message...</p>
        </section>

        <main>
            <form action="/" method="">
                <h2>Login</h2>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" placeholder="Username" value="">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" placeholder="Password" value="">
                </div>

                <button class="btn" type="submit">Login</button>
            </form>
        </main>

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

</body>

</html>