<main>
    <form action="/auth/register" method="post">
        <h2>Register</h2>
        <div class="on-dark">
            <label for="username">Username:</label>
            <input type="text" placeholder="Steven" value="{{body.username}}" name="username">
        </div>

        <div class="on-dark">
            <label for="password">Password:</label>
            <input type="password" placeholder="********" value="" name="password">
        </div>

        <div class="on-dark">
            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" placeholder="********" value="" name="repass">
        </div>

        <button class="btn" type="submit">Register</button>
    </form>
</main>