<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link href="../../static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>

        <section class="notifications error">
            <p>Message...</p>
        </section>


        <main>
            <div class="container">

                <section class="details">
                    <h1>Theater title: Who's Afraid of Virginia Woolf? by Edward Albee</h1>
                    <div>
                        <img src="https://media.timeout.com/images/103727744/380/285/image.jpg" />
                    </div>
                </section>

                <section class="details">
                    <h3>Theater Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, et ex. Dignissimos
                        voluptatum recusandae quos. Eum beatae soluta velit voluptas hic incidunt ab dolorem ipsam
                        blanditiis laudantium. Distinctio, aliquam libero.</p>
                    <div class="buttons">
                        <a class="btn delete" href="">Delete</a>
                        <a class="btn edit" href="">Edit</a>
                        <span class="liked">You have already liked this play!</span>
                        <a class="btn like" href="">Like</a>
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

</body>

</html>