<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>

        <section class="notifications error">
            <p>Message...</p>
        </section>


        <main>
            <section class="container">
                <h1>My Theater Info</h1>
                <p>Lorem reprehenderit nostrud do do ut ad irure aliquip anim adipisicing nulla ullamco. Non mollit
                    Lorem sunt proident nostrud dolore est minim reprehenderit adipisicing consectetur dolore.
                    Nostrud id amet ad irure irure aute ad veniam deserunt mollit sint pariatur. Velit quis amet
                    aliquip tempor. Dolore culpa deserunt proident nostrud amet consectetur.
                    Exercitation exercitation pariatur deserunt duis. Elit duis aute do ullamco fugiat magna officia
                    ad. Pariatur nulla ut pariatur Lorem pariatur incididunt eu excepteur sint qui. Amet esse et
                    eiusmod officia fugiat aliquip ullamco laboris sint cillum cillum. Elit proident mollit officia
                    tempor aliquip non ea occaecat sunt eiusmod enim nulla anim. Voluptate laborum consequat elit
                    quis cupidatat tempor ad laboris duis non eiusmod.</p>
            </section>
            <section>
                <div class="aux">
                    <h1>Available Plays</h1>
                    <div class="home-buttons">
                        <a class="btn create-play" href="">Create Theater</a>
                        <a class="btn create-play" href="">Sort by Date</a>
                        <a class="btn create-play" href="">Sort by Likes</a>
                    </div>
                </div>
                <div class="theaters-container">
                    <div>
                        <div class="home-image">
                            <img src="https://media.timeout.com/images/103727744/380/285/image.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="info">
                            <h4>Who's Afraid of Virginia Woolf? by Edward Albee</h4>
                            <div class="info-buttons">
                                <a class="btn details" href="">Details</a>
                                <span class="likes">5 likes</span>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="home-image">
                            <img src="https://media.timeout.com/images/103727745/380/285/image.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="info">
                            <h4>Death of a Salesman by Arthur Miller</h4>
                            <div class="info-buttons">
                                <a class="btn details" href="">Details</a>
                                <span class="likes">4 likes</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="home-image">
                            <img src="https://media.timeout.com/images/103727757/380/285/image.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="info">
                            <h4>This Is Our Youth by Kenneth Lonergan</h4>
                            <div class="info-buttons">
                                <a class="btn details" href="">Details</a>
                                <span class="likes">3 likes</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="home-image">
                            <img src="https://media.timeout.com/images/103727773/380/285/image.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="info">
                            <h4>Cloud 9 by Caryl Churchill</h4>
                            <div class="info-buttons">
                                <a class="btn details" href="">Details</a>
                                <span class="likes">6 likes</span>
                            </div>
                        </div>
                    </div>

                    <!-- <h4>No plays yet...</h4> -->
                </div>
            </section>

        </main>

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

    </div>
</body>

</html>