<article class="content-publication">
    <h1>Title: {{title}}</h1>

    <!--If no one has shared the post yet, the number should be zero -->
    <p>Number of people shared the publication: {{shared.length}}</p>
    <a href="/art/details/{{_id}}" class="image-details">View publication</a>
</article>