<section class="login-form-container">

    <form action="/auth/login" method="post">
        <h3>Login</h3>
        <label>Email</label>
        <input type="email" name="email" class="box" id="" value="{{body.email}}">
        <label>Password</label>
        <input type="password" name="password" class="box" id="">
        <input type="submit" value="Login" class="btn">
        <p>Don't have an account ? <a href="/auth/register">Create one</a></p>
    </form>
</section>