<main>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="login-box">
        <h1>Login</h1>
        <form method="POST">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email..">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password..">
            <input type="submit" value="Submit">
        </form>
        <p>Not have an account? <a href="/register">Register here</a></p>
    </div>
</main>