<div class="book">
    <div class="info-container-profile">
        <img src="{{this.imageUrl}}">
    </div>
    <div class="details-btn">
        <a href="/catalog/{{this._id}}/details" class="details">Details</a>
    </div>
</div>