/*
# TYPOGRAPHY
    - FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - FONT WEIGHTS:
        Default: 400

    - LINE HEIGHTS:
        Default: 1

# COLORS

    - PRIMARY COLOR:
    - TINTS:
    - SHADES:
    - ACCENTS:
    - GRAYS: 

# SHADOWS: 

# BORDER RADIUS:

# WHITESPACE: 

# SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
