<section class="py-5" id="offer-trip-page">
    <div class="container offer-trip">
        <h1>Offer trip</h1>
        <div>
            <form action="" method="">
                <div class="offer-label">
                    <label for="startPoint"> <i class="fas fa-map-marker-alt"></i> Starting Point </label>
                    <label for="endPoint"> <i class="fas fa-map-marker-alt"></i> End Point</label>
                </div>
                <div class="form-group offer-input">
                    <input type="text" class="form-control-2" id="startPoint" placeholder="Studentski grad" name=""
                        value="">
                    <input type="text" class="form-control-2" id="endPoint" placeholder="Pamporovo" name="" value="">
                </div>
                <div class="offer-label">
                    <label for="date"> <i class="far fa-calendar-alt"></i> Date</label>
                    <label for="time"> <i class="far fa-clock"></i> Time</label>
                </div>
                <div class="form-group offer-input">
                    <input type="date" class="form-control-2" id="date" placeholder="18 May 2021" name="date" value="">
                    <input type="time" class="form-control-2" id="time" placeholder="19:00 PM" name="time" value="">
                </div>
                <div class="offer-label">
                    <label for="carImage">Car Image</label>
                    <label for="carBrand">Car Brand</label>
                </div>
                <div class="form-group offer-input">
                    <input type="text" class="form-control-2" id="carImage" placeholder="https://..." name="" value="">
                    <input type="text" class="form-control-2" id="carBrand" placeholder="Audi" name="" value="">
                </div>
                <div class="offer-label">
                    <label for="seats">Available Seats</label>
                    <label for="price">Price</label>
                </div>
                <div class="form-group offer-input">
                    <input type="text" class="form-control-2" id="seats" placeholder="4" name="" value="">
                    <input type="text" class="form-control-2" id="price" placeholder="25" name="" value="">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Information about the trip"
                        name=""></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>