<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>Auction Details</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="#">Browse</a>
                    </li>
                    <!-- User actions -->
                    <li class="user">
                        <a href="#">Publish</a>
                    </li>

                    <!-- Bonus action --><!--
                    <li class="user">
                        <a href="#">Closed Auctions</a>
                    </li>
                    -->

                    <li class="user">
                        <a href="#">Logout</a>
                    </li>
                    <!-- Guest actions -->
                    <li class="guest">
                        <a href="#">Register</a>
                    </li>
                    <li class="guest">
                        <a href="#">Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>

            <!-- In case of error, display the following div--><!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->
            
            <!-- Details Page - Auction owner -->
            <section id="catalog-section">

                <h1 class="item">
                    Fishing Boat
                    <div class="f-right">
                        <a class="action pad-small f-left" href="#">Edit</a>
                        <a class="action pad-small f-left" href="#">Delete</a>
                    </div>
                </h1>
                <div class="item padded">

                    <div class="layout right large">
                        
                        <div class="col">
                            <img src="/static/assets/boat.jpg" class="img-large">
                        </div>

                        <div class="content pad-med">

                            <p>In category: <strong>Vehicles</strong></p>
                            <p>Excellent condition. Onboard diesel motor, upholstered cockpit, fishing sonar. Includes
                                trailer.</p>

                            <div class="align-center">
                                <div>
                                    Current price: $<strong>5000</strong>
                                </div>

                                <div>
                                    <!-- If there is a bidder -->
                                    Bid by <strong>John Maclane</strong>

                                    <!-- # Bonus: If there is a bidder --><!--

                                    <a class="action pad-med cta" href="#">Close Auction</a>
                                    
                                    # End of Bonus -->

                                    <!-- If there are no bids -->
                                    No bids
                                </div>
                            </div>

                        </div>
                    </div>

                    <footer>Listed by Peter Jackson</footer>
                </div>

            </section>

        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>