<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>Auction House</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="#">Browse</a>
                    </li>
                    <!-- User actions -->
                    <li class="user">
                        <a href="#">Publish</a>
                    </li>

                    <!-- Bonus action -->
                    <!--
                    <li class="user">
                        <a href="#">Closed Auctions</a>
                    </li>
                    -->

                    <li class="user">
                        <a href="#">Logout</a>
                    </li>
                    <!-- Guest actions -->
                    <li class="guest">
                        <a href="#">Register</a>
                    </li>
                    <li class="guest">
                        <a href="#">Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>

            <!-- In case of error, display the following div-->
            <!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

            <!-- Home Page -->
            <section id="catalog-section">

                <h1 class="item">Home</h1>

                <div class="item">

                    <div class="layout left med">
                        <div class="col">
                            <img src="/static/assets/splash.jpg" class="img-med">
                        </div>

                        <div class="content pad-med">
                            <p>Welcome to the online Auction House.</p>
                            <p>Buy and sell items in categories Real Estate, Vehicles, Furniture, Electronics and
                                Others. Browse available items and place your bid. Create a new listing and collect the
                                highest offer.
                            </p>

                            <div class="align-center">
                                <a class="action" href="#">Browse Listings</a>
                                <a class="action" href="#">Publish Auction</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>