<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>Register</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="#">Browse</a>
                    </li>
                    <!-- User actions -->
                    <li class="user">
                        <a href="#">Publish</a>
                    </li>

                    <!-- Bonus action -->
                    <!--
                    <li class="user">
                        <a href="#">Closed Auctions</a>
                    </li>
                    -->

                    <li class="user">
                        <a href="#">Logout</a>
                    </li>
                    <!-- Guest actions -->
                    <li class="guest">
                        <a href="#">Register</a>
                    </li>
                    <li class="guest">
                        <a href="#">Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>

            <!-- In case of error, display the following div-->
            <!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

            <!-- Register Page -->
            <section id="register-section" class="narrow">

                <h1 class="item">Register</h1>

                <div class="item padded align-center">

                    <form class="aligned" method="post" action="">

                        <label>
                            <span>Email</span>
                            <input type="text" name="">
                        </label>
                        <label>
                            <span>First name</span>
                            <input type="text" name="">
                        </label>
                        <label>
                            <span>Last name</span>
                            <input type="text" name="">
                        </label>
                        <label>
                            <span>Password</span>
                            <input type="password" name="">
                        </label>
                        <label>
                            <span>Repeat Password</span>
                            <input type="password" name="">
                        </label>

                        <div class="align-center">
                            <input class="action" type="submit" value="Create Account">
                        </div>

                    </form>

                </div>

            </section>

        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>