<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>

    <header class="header">

        <div class="header">
            <nav class="navbar">
                <a href="#">Home</a>
                <a href="#">Catalog</a>
                <!--Only for logged user-->
                <a href="#">Profile</a>
                <a href="#">Create Review</a>
                <a href="#">Logout</a>
                <!--Only for guest-->
                <a href="#">Login</a>
                <a href="#">Register</a>
            </nav>
        </div>

    </header>

    <section id="not-found-page">
        <div class="not-found-page-container">
            <h1>404</h1>
            <h2>Page Not Found</h2>
        </div>
    </section>
</body>

</html>