<section class="catalog" id="catalog">
    <h2>Book Reviews</h2>
    <div class="container">
        {{#if catalog}}
        <!--If there are book reviews-->
            {{#each catalog}}
                {{> catalogBook}}
            {{/each}}
        <!--If there are no book reviews-->
        {{else}}
        <h2 class="no-record">There are no book reviews found yet...</h2>
        {{/if}}
    </div>
</section>