<section class="create-form-container">

    <form method="post">
        <h3>Create Book Review</h3>
        <label>Title</label>
        <input type="text" name="title" class="box" id="book-title">
        <label>Author</label>
        <input type="text" name="author" class="box" id="book-author">
        <label>Genre</label>
        <input type="text" name="genre" class="box" id="book-genre">
        <label>Stars</label>
        <input type="number" name="stars" class="box" id="book-stars">
        <label>Image</label>
        <input type="text" name="imageUrl" class="box" id="book-image">
        <label>Review</label>
        <textarea class="box" name="review"></textarea>
        <input type="submit" value="Create" class="btn">
    </form>
</section>