    <section class="home" id="home">

        <div class="row">
    
            <div class="content">
                <h3>BookTalk</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias
                    sit necessitatibus, aliquid ex minima at!</p>
                <a href="/catalog" class="btn">See All</a>
            </div>
    
            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    <img src="/static/image/book-1.png" alt=""></a>
                    <img src="/static/image/book-2.png" alt=""></a>
                    <img src="/static/image/book-3.png" alt=""></a>
                    <img src="/static/image/book-4.png" alt=""></a>
                    <img src="/static/image/book-5.png" alt=""></a>
                    <img src="/static/image/book-6.png" alt=""></a>
                </div>
                <img src="/static/image/stand.png" class="stand" alt="">
            </div>
    
        </div>
    
    </section>