<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    <!--<div class="error-box">
            <p>Error</p>
        </div>-->

    <header class="header">

        <div class="header">
            <nav class="navbar">
                <<a href="#">Home</a>
                <a href="#">Catalog</a>
                <!--Only for logged user-->
                <a href="#">Profile</a>
                <a href="#">Create Review</a>
                <a href="#">Logout</a>
                <!--Only for guest-->
                <a href="#">Login</a>
                <a href="#">Register</a>
            </nav>
        </div>

    </header>

    <section class="register-form-container">

        <form action="">
            <h3>Register</h3>
            <label>Email</label>
            <input type="email" name="" class="box" id="">
            <label>Username</label>
            <input type="text" name="" class="box" id="">
            <label>Password</label>
            <input type="password" name="" class="box" id="">
            <label>Confirm Password</label>
            <input type="password" name="" class="box" id="">
            <input type="submit" value="Register" class="btn">
            <p>Have an account ? <a href="#">Click here</a></p>
        </form>
    </section>
</body>

</html>