<div class="card">
    <h3></h3>
    <p>Spacious and grand villa, 3 bedroom, 2 bath </p>
    <div class="cta-container"><a href="#" class="det-link">Details</a></div>
    <div class="card_circle"><img src="./static/images/house2.jpg"></div>

</div>