<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        <div class="info-buttons">
        </div>
    </div>
</div>