<section id="viewAddhotel">
    <h2>Edit existing hotel</h2>
    <form id="formAddhotel">
        <label for="hotel">Hotel name:</label>
        <input type="text" id="hotel" name="hotel" value="Auckland Inn">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="Auckland">
        <label for="free-rooms">Free rooms:</label>
        <input type="number" id="free-rooms" name="free-rooms" value="43">
        <label for="imgUrl">Image:</label>
        <input type="text" id="imgUrl" name="imgUrl"
            value="https://image.freepik.com/free-vector/flat-hotel-building-town_52683-10040.jpg">

        <input type="submit" class="create" value="Add">
    </form>
</section>