<!-- Reactive forms -->

<div class="form-div">
  <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email" />
    </div>

    <!-- error messages -->

    <div *ngIf="registerForm.get('email')?.touched">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">
        Email is required!
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">
        Invalid Email!
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password </label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>

    <!-- password error message -->
    <div *ngIf="registerForm.get('password')?.errors?.['maxLength']">
      Invalid password because the length is longer than
      {{registerForm.get('password')?.errors?.['maxLength']}}...
    </div>

    <button>Login</button>
    <!-- 
        [disabled]="loginForm.invalid" - ако формата не е валидна. Динамично се променя стейта
       -->
  </form>
</div>

<!-- <br /><br /> -->
<!-- real time view -->
{{ registerForm.value | json }}
