<div class="form-div">
  <!-- v.1 -->
  <form #loginForm="ngForm" (ngSubmit)="submitHandler(loginForm)">
    <!-- v.2 -->
    <!-- <form #loginForm="ngForm" (ngSubmit)="submitHandler()"> -->

    <!-- 
        ngForm - връзка към FormModula, импортнат в app.module.ts;
         #loginForm - създаваме референция, която може да се използва в темплейта или като параметър на функция;
         ngModel - формата започва да следи за промени и подава данните. Взимат се с value;
         email - първична валидация за тип email. Прави формата invalid;
         required - полето е задължително, ако е празно - invalid;
        #emailInput - първична референция
    -->

    <div class="form-group">
      <label for="email">Email </label>
      <input
        type="text"
        id="email"
        name="email"
        ngModel
        email
        required
        #emailInput="ngModel"
      />
    </div>

    <!-- error messages -->
    <!-- състоянието на полето-->
    <div *ngIf="emailInput.touched">
      <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
      <div *ngIf="emailInput.errors?.['email']">Invalid Email!</div>
    </div>

    <div *ngIf="!emailInput.touched">
      <div class="spacer"></div>
    </div>

    <div class="form-group">
      <label for="password">Password </label>
      <input
        type="text"
        id="password"
        name="password"
        ngModel
        required
        #passwordInput="ngModel"
        minlength="4"
      />
      <!-- [appMaxCount]="4" -->
      <!-- създаваме си директива ( ng g d 'name') -->
    </div>

    <!-- password error message -->
    <div *ngIf="passwordInput.errors?.['appMaxCount']">
      Invalid password because the length is longer than
      {{passwordInput.errors?.['appMaxCount']}}...
    </div>
    <div *ngIf="passwordInput.touched">
      <div *ngIf="passwordInput.errors?.['minlength']">
        Password should be at least 4 characters long
      </div>
    </div>

    <button>Login</button>
  </form>
</div>

<!-- <br /><br /> -->
<!-- real time view -->
<!-- {{ loginForm.value | json }}  real time view -->
