<div class="card mb-4">
    <img class="card-img-top" src="https://www.freecodecamp.org/news/content/images/size/w2000/2020/03/gpython.jpg"
        alt="Card image cap" width="400">
    <div class="card-body">
        <h4 class="card-title">Python</h4>
        <small class="float-right">Enrolled: 8</small>
    </div>
</div>