<div class="card mb-4">
    <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" width="400">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <small class="float-right">Enrolled: {{enrolled.length}}</small>
    </div>
</div>