<main>

    <section id="catalog">
        <h1>All posts</h1>
        <div class="band">

            <!-- If there are posts for wildlife in the database display each of them -->
            {{#if posts}}
            {{#each posts}}
            {{> post}}
            {{/each}}

            <!-- If there are still no posts for wildlife in the database display: -->
            {{else}}
            <div class="no-posts">
                <div class="no-posts-img">
                    <! /-- Do not forget to change the path to the image, and remove this comment -- />
                    <img src="/static/img/animal.jpg" alt="image_nature_3">
                </div>
                <p class="no-offer">There are no posts yet...</p>
            </div>
            {{/if}}
        </div>
    </section>
</main>