@import url(reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

/*
# 
    - FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
#   - SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  /* font-size: 10px = 1rem;
  10px / 16px = 0.625 => 62.5%
  */
  font-size: 62.5%;
}

:root {
  --font-size-default: unset;
  --color-body: unset;
  --color-primary: unset;
  --color-link-link: unset;
  --color-link-hover: unset;
}

body {
  width: px;
  display: flex;
  place-items: center;
}
.container {
  width: px;
}
