<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">
            <!-- Start Pet Photos Post Section -->
            <div class="card">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails">
                        <!-- Link to User Profile Page -->
                        <a href="#" action="#" method="#">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="/static/images/person.png">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <!-- Link to User Profile Page -->
                            <p>
                                <!-- show user username -->
                                MayaB
                            </p>
                            <!-- photo's location -->
                            <span>Bansko, Bulgaria</span>
                        </h3>
                    </div>
                </div>

                <!-- Start Pet Photo -->
                <div class="imgBx">
                    <img src="/static/images/axolotl.jpeg" alt="post" class="cover">
                </div>
                <!-- Name of Pet -->
                <h5 class="petName">Name: Sal</h5>
                <!-- Age of Pet -->
                <h5 class="petAge">Age: 4</h5>
                <!-- Link to Photo Details Page -->
                <a href="#" id="see-details">
                    <h4 class="details">See details</h4>
                </a>
            </div>

            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <div>
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="/static/images/person.png" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>
                            <p>
                                <!-- if user's username -->
                                AntoniaHristova
                                <br>
                                <!-- photo's location -->
                                <span>Sofia, Bulgaria</span>
                            </p>

                        </h3>
                    </div>

                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="/static/images//dog-on-bed.jpg" alt="post" class="cover">
                </div>
                <!-- Name of Pet -->
                <h5 class="petName">Name: Buck</h5>
                <!-- Age of Pet -->
                <h5 class="petAge">Age: 6</h5>
                <!-- Link to Photo Details Page -->
                <a href="#" id="see-details">
                    <h4 class="details">See details</h4>
                </a>
            </div>

            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <div>
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="/static/images/person.png" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>
                            <p>
                                <!-- if user's username-->
                                StevIvanov
                                <br>
                                <!-- photo's location -->
                                <span>Dobrich, Bulgaria</span>
                            </p>

                        </h3>
                    </div>
                    <!--  -->
                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="/static/images/dog-on-road.jpg" alt="post" class="cover">
                </div>
                <!-- Name of Pet -->
                <h5 class="petName">Name: Max</h5>
                <!-- Age of Pet -->
                <h5 class="petAge">Age: 2</h5>
                <!-- Link to Photo Details Page -->
                <a href="#" id="see-details">
                    <h4 class="details">See details</h4>
                </a>
            </div>

            <!--If there are no photo yet!-->
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
        </div>

    </div>
</main>