<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JS Back-End - Exam - November 2020</title>
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#">Tutorials</a>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>

            </ul>
        </nav>

        <section class="notifications">
            <p class="notification-message">Message...</p>
        </section>

        <main>
            <div class="container">
                <h1 class="my-4">Title : JavaScript
                </h1>

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid"
                            src="https://1.bp.blogspot.com/-pdqcVeIQp64/XDX7TzdRdcI/AAAAAAAAM8E/ZmGuB6caZqIGmEflGHcj3zgXJJrmqRLdgCLcBGAs/w1200-h630-p-k-no-nu/Free%2BCourses%2Bto%2Blearn%2BJavaScript.jpg"
                            alt="JavaScript" />
                    </div>

                    <div class="col-md-4 text-center">
                        <h4 class="my-3">Duration</h4>
                        <p>4 weeks</p>
                        <h3 class="my-3">Description</h3>
                        <p>JavaScript is ...</p>

                        <a class="btn btn-danger" href="/">Delete</a>
                        <a class="btn btn-warning" href="/">Edit</a>
                        <span class="enrolled-span">You are already enrolled</span>
                        <a class="btn btn-primary" href="/">Enroll</a>

                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2020
                <a href="https://softuni.bg/trainings/3048/js-back-end-september-2020">JS Back-End</a>
            </div>
        </footer>

    </div>
</body>

</html>