.navMenu {
  width: fit-content;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 0 0 10px;
  color: #f6f4e6;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
  margin-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #0cbb0f;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #0cbb0f;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  margin-top: 30px;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(-376px);
  transform: translateX(-376px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(-278px);
  transform: translateX(-278px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(-156px);
  transform: translateX(-156px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(-51px);
  transform: translateX(-51px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
