<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <link rel="stylesheet" href="./static/css/styles.css" />
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Crypto</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="not-found-page">
            <div class="not-found-page-container">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The Page you are looking for doesn't exist or another error occurred. Go to <a href="#"
                        class="btn">Crypto</a>.
                </p>
            </div>
        </section>
    </main>

    <footer>
        <p>Back-End 2022</p>
    </footer>
</body>

</html>