<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Catalog</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Crypto</a></li>
                <li><a href="#">Crypto Offer</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="crypto-market">
            <h1><span>Crypto</span> Trade</h1>
            <div class="offer-list">
                <div class="coin">
                    <div class="coin-img">
                        <img src="./static/images/ethereum.png">
                    </div>
                    <div class="coin-info">
                        <h1>Ethereum</h1>
                        <p><span>Price: </span>$2,338.55</p>
                        <p><span>Payment: </span>debit-card</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="coin">
                    <div class="coin-img">
                        <img src="./static/images/dogecoin.png">
                    </div>
                    <div class="coin-info">
                        <h1>Dogecoin</h1>
                        <p><span>Price: </span>$0.09478</p>
                        <p><span>Payment: </span>crypto-wallet</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="coin">
                    <div class="coin-img">
                        <img src="./static/images/bitcoin.png">
                    </div>
                    <div class="coin-info">
                        <h1>Bitcoin</h1>
                        <p><span>Price: </span>$31,166.71</p>
                        <p><span>Payment: </span>paypal</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>

            </div>
            <!-- <div class="no-offer">
                <p>There are no crypto offers found!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <p>Back-End 2022</p>
    </footer>
</body>

</html>