<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - Crypto Web</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Crypto</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

        <div class="login-box">
            <h1>Login</h1>
            <form action="#" method="">
                <label>Email</label>
                <input type="text" name="" placeholder="Email..">
                <label>Password</label>
                <input type="password" name="" placeholder="Password..">
                <input type="submit" value="Submit">
            </form>
            <p>Not have an account? <a href="#">Register here</a></p>
        </div>
    </main>

    <footer>
        <p>Back-End 2022</p>
    </footer>
</body>

</html>