<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Crypto</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="crypto-search">
            <h1>Search</h1>

            <form class="search-form" action="#" method="">
                <input type="text" class="search-coin" name="" placeholder="Search here...">
                <select id="payment" name="">
                    <option value="crypto-wallet">Crypto Wallet</option>
                    <option value="credit-card">Credit Card</option>
                    <option value="debit-card">Debit Card</option>
                    <option value="paypal">PayPal</option>
                </select>
                <button type="submit" class="btn-search">Search</button>
            </form>

            <div class="search-result">
                <div class="search-list">
                    <div class="coin">
                        <div class="coin-img">
                            <img src="./static/images/ethereum.png">
                        </div>
                        <div class="coin-info">
                            <h1>Ethereum</h1>
                            <p><span>Price: </span>$2,338.55</p>
                            <p><span>Payment: </span>debit-card</p>
                        </div>

                        <a href="#" class="btn-details">Details</a>
                    </div>
                </div>

            </div>
            
            <!-- <div class="no-match">
                <p>No match was found!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <p>Back-End 2022</p>
    </footer>
</body>

</html>