<form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{difficultyFrom}}">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{difficultyTo}}">
    <input type="submit" value="search">
</form>
