<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="index.html">Main Page</a>
                <a href="all-articles.html">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                <a href="create.html">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            <header>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <span>Welcome, Pesho!</span>
                <a href="#">[Logout]</a>
            </header>
            <main>
                <h1>Welcome to SoftUni Wiki!</h1>
                <div class="spacer">
                    <h2>Astronomy
                        <div class="controls">
                            <a href="edit.html">[edit]</a>
                            <a href="history.html">[delete]</a>
                        </div>
                    </h2>
                    <article>
                        <p>
                            Astronomy is a natural science that studies celestial objects and phenomena. It applies mathematics, physics, and chemistry,
                            in an effort to explain the origin of those objects and phenomena and their evolution. Objects
                            of interest include planets, moons, stars, galaxies, and comets; the phenomena include supernova
                            explosions, gamma ray bursts, and cosmic microwave background radiation. More generally, all
                            phenomena that originate outside Earth's atmosphere are within the purview of astronomy. A related
                            but distinct subject, physical cosmology, is concerned with the study of the Universe as a whole
                        </p>
                        <p>
                            Astronomy is one of the oldest of the natural sciences. The early civilizations in recorded history, such as the Babylonians,
                            Greeks, Indians, Egyptians, Nubians, Iranians, Chinese, Maya, and many ancient indigenous peoples
                            of the Americas performed methodical observations of the night sky. Historically, astronomy has
                            included disciplines as diverse as astrometry, celestial navigation, observational astronomy
                            and the making of calendars, but professional astronomy is now often considered to be synonymous
                            with astrophysics
                        </p>
                        <p>
                            Professional astronomy is split into observational and theoretical branches. Observational astronomy is focused on acquiring
                            data from observations of astronomical objects, which is then analyzed using basic principles
                            of physics. Theoretical astronomy is oriented toward the development of computer or analytical
                            models to describe astronomical objects and phenomena. The two fields complement each other,
                            with theoretical astronomy seeking to explain observational results and observations being used
                            to confirm theoretical results.
                        </p>
                        <p>
                            Astronomy is one of the few sciences where amateurs still play an active role, especially in the discovery and observation
                            of transient phenomena. Amateur astronomers have made and contributed to many important astronomical
                            discoveries, such as finding new comets.
                        </p>
                    </article>
                </div>
            </main>
            <footer>
                SoftUni Wiki &copy; 2018 - 2019
            </footer>
        </div>
    </div>
</body>

</html>