<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="index.html">Main Page</a>
                <a href="all-articles.html">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                <a href="create.html">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            <header>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <span>Welcome, Pesho!</span>
                <a href="#">[Logout]</a>
            </header>
            <main>
                <h1>Welcome to SoftUni Wiki!</h1>
				<section id="notifications">
				<p>Article description should be at least 20 characters long...</p>
				</section>
                <section>
                    <h2>Create new article</h2>
                    <div class="spacer">
                        <form>
                            <label>Article title</label>
                            <input type="text" class="title">
                            <label>Content</label>
                            <textarea></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                SoftUni Wiki &copy; 2018 - 2019
            </footer>
        </div>
    </div>
</body>

</html>