<section id="featured">
    <h2>Latests articles</h2>
    {{#if homeArticles}}
    {{#each homeArticles}}
    {{> homeArticle}}
    {{/each}}
    {{else}}
    <p>There is nothing here...</p>
    {{/if}}
</section>