<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="/auth/register" method="post">
            <label>Username:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <label>Repeat password:</label>
            <input type="password" name="repass">
            <input type="submit" value="Register">
        </form>
    </div>
</section>