<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Page - Gaming Team</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.jpg" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Games Code</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Create Game Offer</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main id="catalog">
        <section class="game-market">
            <h1>Game Trade Code</h1>
            <div class="offer-list">
                <div class="game">
                    <div class="game-img">
                        <img
                            src="./static/images/witcher-3.jpg">
                    </div>
                    <div class="game-info">
                        <h1>The Witcher 3</h1>
                        <p><span>Platform: </span>PC</p>
                        <p><span>Genre: </span>RPG</p>
                        <p><span>Price: </span>$23</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="game">
                    <div class="game-img">
                        <img
                            src="./static/images/legacy.webp">
                    </div>
                    <div class="game-info">
                        <h1>Hogwarts Legacy</h1>
                        <p><span>Platform: </span>XBOX</p>
                        <p><span>Genre: </span>Action Role-Playing</p>
                        <p><span>Price: </span>$55</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="game">
                    <div class="game-img">
                        <img
                            src="./static/images/disney-dreamlight-valley.jpg">
                    </div>
                    <div class="game-info">
                        <h1>Disney Dreamlight Valley</h1>
                        <p><span>Platform: </span>PS5</p>
                        <p><span>Genre: </span>Simulator</p>
                        <p><span>Price: </span>$38</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="game">
                    <div class="game-img">
                        <img src="./static/images/mortal-kombat.png">
                    </div>
                    <div class="game-info">
                        <h1>Mortal Kombat 11</h1>
                        <p><span>Platform: </span>PC</p>
                        <p><span>Genre: </span>Action</p>
                        <p><span>Price: </span>$78</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
            </div>
            <!-- <div class="no-offer">
                <p>There are no game offers found!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <p>Back-End 2023</p>
    </footer>
</body>

</html>