<h1>Register Page</h1>



<form action="/auth/register" method="POST">
    <label for="username">Username: <input type="text" name="username" value="{{body.username}}"></label>
    <label for="password">Password: <input type="password" name="password"></label>
    <label for="repass">Repeat: <input type="password" name="repass"></label>
    <button>Send</button>
</form>