<main>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Video Tutorials</h1>
                    <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
                </div>
            </div>

            <div>
                <h1 class="text-center">All Courses</h1>
                <div class="container mt-3">

                    <div class="card-deck d-flex justify-content-center">

                        <div class="card mb-4">
                            <img class="card-img-top" src="https://colorlib.com/wp/wp-content/uploads/sites/2/angular-logo.png" alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">Angular</h4>
                            </div>
                            <div class="card-footer">
                                <a href=""><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <img class="card-img-top" src="http://blog.addthiscdn.com/wp-content/uploads/2014/11/addthis-react-flux-javascript-scaling.png" alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">React</h4>
                            </div>
                            <div class="card-footer">
                                <a href=""><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>

                        <!-- If there are still no courses in the database display: -->
                        <!--<h4 class="text-center">No courses...</h4>-->
                    </div>
                </div>
            </div>

        </main>