<main>
    <h1 class="text-center">My Profile</h1>
    <div class="profile"><img src="/static/img/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{getCurrentUser.username}}</p>
        </div>

        <div class="flex">
            <p>Enrolled Courses: </p>
            <p>
                <span>{{getCurrentUser.titles}}</span>
            </p>
        </div>
    </div>


</main>