<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="./static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            <ul class="navbar-nav ml-auto">

                <!-- Guest users and Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Home </a>
                </li>

                <!-- Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>

                <!-- Guest users -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>

            </ul>
        </nav>


        <!-- In case of error, you should display section with class "notifications" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <section class="notifications">
            <p class="notification-message">Message...</p>
        </section>-->

        <main>
            <form class="text-center border border-light p-5" action="" method="">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" value="">
                </div>

                <div class="form-group">
                    <label for="repeatPassword">Repeat Password</label>
                    <input type="password" class="form-control" placeholder="Repeat-Password" id="repeatPassword" name="repeatPassword" value="">
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021
                <p>Js Back End</p>
            </div>
        </footer>

    </div>
</body>

</html>