{{#if user}}
<form action="/" method="get" class="form center-form">
    <div class="form-group">
        <input name="username" placeholder="username" class="input-field search" />
        <button class="btn btn-search">Search</button>
    </div>
</form>
{{/if}}