
<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Cool Blog System</title>
    <link href="./static/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li></li>
            <li class="right">
                <a href="/users/logout">Logout</a>
            </li>
            <li class="right">Welcome, pesho!</li>
        </ul>
    </div>
    <h1>Welcome to Messenger</h1>

<form action="/threads/find" method="post" class="form center-form">
    <div class="form-group">
        <input name="username" placeholder="username" class="input-field search" />
        <button class="btn btn-search">Search</button>
    </div>
</form>

</body>

</html>