
<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Cool Blog System</title>
    <link href="./static/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li></li>
            <li class="right">
                <a href="/users/logout">Logout</a>
            </li>
            <li class="right">Welcome, Admin!</li>
        </ul>
    </div>
    <h1>Welcome to Messenger</h1>

<form action="/threads/find" method="post" class="form center-form">
    <div class="form-group">
        <input name="username" placeholder="username" class="input-field search" />
        <button class="btn btn-search">Search</button>
    </div>
</form>
<h1>Threads</h1>
<div class="threads-list">
    <div class="thread">
        <form action="/threads/remove/5c540d5fac257e190c076fc0" method="POST">
            <h4>gosho pesho </h4>
            <p>Fri Feb 01 2019 11:08:47 GMT+0200 (FLE Standard Time)</p>
            <button class="btn">Delete</button>
        </form>
    </div>
</div>

</body>

</html>