<main>
  <h1>{{found.name}}</h1>
  <img class="cube" src={{found.imageUrl}}>
  <div class="details">
    <p><span>Description:</span>{{found.description}}</p>
    <p><span>Difficulty level:</span> {{found.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>