#mainDiv{
    padding: 20px
}
#navigation {
    display: block;
    width: 400px;
}
#navigation a{
    display: inline-flexbox;
    margin: 0 20px;
    font-size: 32px;
    text-decoration: none;
    font-weight: bold;
    color: gray
}