<section id="gallery">
    <h1>Gallery</h1>
    <article class="gallery-container">

        <!--If there are art publications in the database, show each of them-->
        {{#if publications}}
            {{#each publications}}
               {{> galleryPartial}}
            {{/each}}
        {{else}}
        <!--If there are still no art publications in the database display:-->
        <article class="no-available-publications">
            <h1>No publications created yet.</h1>
            {{#if user}}
                <a href="/art/create" class="create-pub">Create publication</a>
            {{/if}}
        </article>
        {{/if}}

    </article>
</section>